<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ARTC | Works Under Animal Tag</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style2.css" rel="stylesheet" type="text/css">
  <style>
	.center {
		margin: auto;
		padding: 10px;
	}
  </style>
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<h1>ARTC</h1>
</div>
<div class="topnav" id="myTopnav">
            <a href="home.html" class="active">Home</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Login</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class="content">
<div class="left-panel">
<div class="left-panel-in">
<br>
<br>
<h1>CatLover99's Works under the 'Animal' tag</h1>
<br>
<div class="center">
<p>

<a href="cat1.html">
	<IMG SRC="images/cat1.jpg" alt="raiart's Cat" width="200" height="200">
</a>
<IMG SRC="images/dog1.jpg" alt="Dog sketch" width="200" height="200">
<IMG SRC="images/cat2.jpg" alt="Cute cat" width="200" height="200">
<IMG SRC="images/cat3.jpg" alt="Digital Cat" width="200" height="200">
</p>

<BR>
<BR>
<form action="artist.html" method="get">
	<input type="submit" value="Back to CatLover99's main page" /> 
</form>
</div>
</div>
</div>


<div class="right-panel">
<div class="right-row1">
<h3 class="subtitle">Statistics</h3>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17"><b>Most Popular Tags</b></p>
<ul class="list1">
  <li><a href="animalHits.html">Animals</a></li>
  <li><a href="#">Cute</a></li>
  <li><a href="#">Cats</a></li>
  <li><a href="#">Sketch</a></li>
  <li><a href="#">Landscapes</a></li>
</ul>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17"><b>Commissions Completed:6</b></p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17"><b>Average Overall Rating: <br>★★★★★</b></p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17"><b>Average Timeliness Rating: <br>★★★★☆</b></p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17"><b>Average Work Quality Rating: <br>★★★★★</b></p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17"><b>Average Price Rating: <br>$</b></p>
<p>&nbsp;</p>
</div>


<div class="right-row2">
<h3 class="subtitle">Latest Commissions</h3>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">January 27, 2018</p>
<p><a href = "bridge.html"><strong>Bridge</strong> </a> for <strong> oranges27 </strong>
<br>A simple bridge sketch. Took me 2 days on this one!</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">January 5, 2018</p>
<p><a href = "cat1.html"><strong>A Sketch of raiart's Cat</strong> </a> for <strong> raiart </strong>
<br>Client asked me to draw her lovely kitty!</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">December 31, 2018</p>
<p><a href = "dog.html"><strong>Doggo</strong> </a> for <strong> JeanBrook </strong>
<br>I suppose dogs are quite alright too.</p>
<p>&nbsp;</p>
</div>

<div class="right-row3">
<h3 class="subtitle">Latest Reviews</h3>
<p>&nbsp;</p>

<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">January 27, 2018</p>
<p>User: oranges27  
<br>Overall Rating: ★★★★★ 
<br>Timeliness: ★★★★★
<br>Work Quality: ★★★★★  
<br>Price: $ 
<br>"Love it!" 
</p>
<p>&nbsp;</p>

<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">January 5, 2018</p>
<p>User: raiart  
<br>Overall Rating: ★★★★★ 
<br>Timeliness: ★★★★☆ 
<br>Work Quality: ★★★★★  
<br>Price: $ 
<br>"CatLover99 is a great artist, highly recommended!" 
</p>
</div>


<div class="right-row4">
<h3 class="subtitle">Contact Info</h3>
<p>&nbsp;</p>
<p>E-mail: catlover99@gmail.com
</p>
<p>Fax: 626-000-0000
</p>
<p>Phone: 858-000-0000
</p>
<br>
	<form action="messaging.html" method="get">
		<input type="submit" value="Start a chat with me!" />
	</form>
<p>
</div>
</div>
</div>

</div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</body></html>

