<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ARTC | Edit Profile</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<h1>ARTC</h1>
</div>
<div class="topnav" id="myTopnav">
            <a href="home.html" class="active">Home</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Login</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class="content">
<div class="left-panel">
<div class="left-panel-in">


<h2 class="title">CatLover99</h2>
<IMG SRC="images/profile.jpg"> 
<br>
</p>
	<form action="" method="get">
		<input type="submit" value="Upload new profile photo" />
	</form>
<p>
<br>
<br>
<p><B></B></p>
<br>
<textarea rows="4" cols="50">Hi, I draw mainly cats! Feel free to commission me at cheap prices!</textarea>
<br>
<br>
<br>
<p>&nbsp;</p>

<p>&nbsp;</p>
<h3 class="subtitle">Works</h3>
<BR>
<IMG SRC="images/cat1.jpg" alt="raiart's Cat" width="200" height="200">
<IMG SRC="images/cat2.jpg" alt="Cute cat" width="200" height="200">

<IMG SRC="images/dog1.jpg" alt="Dog sketch" width="200" height="200">
<IMG SRC="images/landscape.jpg" alt="Sunset landscape" width="200" height="200">
<IMG SRC="images/cat3.jpg" alt="Digital Cat" width="200" height="200">
<IMG SRC="images/bridge.jpg" alt="Bridge" width="200" height="200">
<br>
</p>
	<form action="" method="get">
		<input type="submit" value="Upload new commission art" />
	</form>
<p>

<p>&nbsp;</p>
<br>
<br>
<p>
<form action="artisteditpageconfirm.html" method="get">
		<input type="submit" value="Save all changes" />
</form>
</p>
</div>
</div>
</div>

</div>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body></html>
