<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title goes here</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<h1>ARTC</h1>
</div>
<div class="topmenu">
<ul>
  <li style="background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; padding-left: 0px;"><a href="home.html">ARTC</a></li>
  <li><input type="text" name="search" value="" /><a href="artworkResults.html"><input type="submit" value="Search Artwork" /></a></li>
  <li><a href="faq.html">FAQ</a></li>
  <li><a href="login.html">Login</a></li>
</ul>
</div>
<div class="content">
<div class="left-panel">
<div class="left-panel-in">

<CENTER>
	<IMG SRC="images/cat1.jpg" alt="Cat sketch">
	<BR> <H1><B>Sketch of raiart's Cat</B></H1>
	<BR> A work commissioned for raiart, who knows of my love for cats! She wanted me to draw one of her pet cats and sent me a photo. The sketch was done in pencil and took me just a couple hours to complete. Guess that's one more into the cat album!  
<br>
<br>
<form action="artist.html" method="get">
	<input type="submit" value="To CatLover99's main page" /> 
</form>	
	
	
</CENTER>

</div>
</div>


<div class="right-panel">
<div class="right-row1">
<h3 class="subtitle">Work details</h3>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">Artist: CatLover99</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">Customer: raiart</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">Date Published: January 5, 2018</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">Tools Used: HB Graphite</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">Tags: Sketch, Animal, Cat, Traditional</p>
<p>&nbsp;</p>
<p class="blue"><img src="images/right-bullet.jpg" alt="" height="8" width="17">Timeframe: January 4, 2018 - January 5, 2018 (1 day elapsed)</p>
<p>&nbsp;</p>
</div>



</div>
</div>

</div>
</div>
</body></html>

