<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ARTC| Review Submitted</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<h1>ARTC</h1>
</div>
<div class="topnav" id="myTopnav">
            <a href="home.html" class="active">Home</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Login</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class="content">
<CENTER>
<br>
<br>
<H3>Thank you for submitting a review for CatLover99.</h3>
<BR>
<BR>
<form action="artist.html" method="get">
	<input type="submit" value="Back to CatLover99's main page" /> 
</form>
</CENTER>




</div>

</div>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body></html>

